* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
}
nav {
    height: 70px;
    background-color: #1d262d;
    color: #ffffff;
    max-width: 100vw
}
nav ul {
    display: flex;
    justify-content: space-around;
}
nav ul a {}
.logo img {
    width: 200px;
    height: 60px;
    object-fit: cover;
    padding: 5px;
    cursor: pointer;
}
.logo img:hover {
    cursor: pointer;
    border-bottom: 3px solid #ffffff;
}
.title {
    padding: 25px;
    font-size: 1.5em;
}
.line {
    border: 2px solid red;
}
main {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    min-height: 100vh;
}
.left_aside {
    display: flex;
}
.page_description {
    max-width: 20vw;
}
.page_description h2 {
    margin: 100px 0px 0px 30px;
    font-size: 2.5em;
    color: #0d3b66;
}
.page_image {
    max-width: 40vw;
}
.page_image img {
    width: 100%;
    object-fit: contain;
    margin: 100px 0px 100px 90px
}
.form_section {
    max-width: 40vw;
    ;
}
.form_section_container {
    display: flex;
    border: 2px solid #ffad05;
    margin: 100px 0px 100px 110px;
    border-radius: 7px;
    height: 300px;
}
form {
    padding: 40px
}
form>label, select, button {
    margin: 20px 0px 0px 0px
}
label {
    font-size: 1.5em;
}
input {
    margin-top: 10px;
    height: 30px;
    width: 250px;
    border: 2px solid #ffad05;
    border-radius: 7px;
    margin-bottom: 10px;
    text-indent: 10px;
}
input[type=text]:focus {
    outline: 1px solid #ffad05;
}
select {
    border: 2px solid #ffad05;
    border-radius: 7px;
    width: 250px;
}
option {
    background-color: #0d3b66;
    color: #ffffff
}
::placeholder {
    padding: 5px
}
button {
    margin: 20px 50px;
    width: 150px;
    height: 25px;
    background-color: #0d3b66;
    color: #ffffff;
    border-radius: 7px;
    font-size: 1em;
}
.footer_line {
    border: 2px solid red;
}
footer {
    background-color: #1d262d;
    min-height: 14vh;
    width: 100%;
    position: relative;
    bottom: -20px;
    left: 0px;
    right: 0px;
    top: 0px;
}
footer div p {
    text-align: center;
    padding: 40px;
    font-size: 1.5em;
    color: #ffffff
}
@media only screen and (max-width: 1250px) {
    .page_description h2 {
        font-size: 2em;
    }
    .page_image img {
        margin-left: 50px
    }
    .form_section_container {
        margin-left: 50px;
    }
}
@media only screen and (max-width: 1070px) {
    .logo {
        padding: 7px;
    }
    .logo img {
        width: 100px;
        height: 50px;
    }
    .left_aside {
        flex-direction: column;
        margin-left: 100px
    }
    .page_image img {
        margin: 25px 0px 0px -30px;
    }
    .page_description h2 {
        margin-left: 30px;
    }
}
@media only screen and (max-width: 899px) {
    .form_section_container {
        margin-left: 20px;
    }
    form {
        padding: 20px
    }
}
@media only screen and (max-width: 800px) {
    .title {
        padding: 25px;
        font-size: 1em;
    }
    main {
        flex-direction: column;
        width: 100vw;
    }
    .page_description {
        max-width: 100vw;
    }
    .page_image {
        max-width: 100vw;
    }
    .form_section {
        max-width: 100vw;
    }
    .page_description h2 {
        margin: 50px 0px 0px 10px;
        font-size: 2.5em;
    }
    .page_image img {
        margin: 25px 0px 0px -50px;
    }
    .form_section_container {
        margin: 20px 0px 100px 150px;
        width: 350px;
        height: 300px;
    }
    form {
        padding: 20px;
    }
    footer div p {
        font-size: 1em
    }
}
@media only screen and (max-width: 760px) {
    .page_description h2 {
        margin-left: 0px;
        font-size: 2em;
    }
    .form_section_container {
        margin-left: 100px;
    }
}
@media only screen and (max-width: 700px) {
    .form_section_container {
        margin-left: 50px;
    }
    .page_description h2 {
        margin-left: -40px;
        font-size: 2em;
    }
    .page_image img {
        margin: 25px 0px 0px -80px;
    }
    .form_section_container {
        margin-left: 10px;
        width: 300px;
    }
    .title {
        padding-left: 0px
    }
}
@media only screen and (max-width: 550px) {
    .page_description h2 {
        margin-left: -60px;
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 393px) {
    .page_description h2 {
    
        font-size: 1.1em;
    }
}
@media only screen and (max-width: 280px) {
    .page_description h2 {
        font-size: 0.9em;
    }

    form {
        padding: 5px;
    }
    .form_section_container {
        margin-left: 6px;
        width: 250px;
    }
    .title {
        font-size: 0.8em;
    }
    input {
        margin-left: 10px;
        height: 30px;
        width: 200px;
    }
    form>label, select, button {
        margin-left: 15px;
    }
    select {
        border: 2px solid #ffad05;
        border-radius: 7px;
        width: 200px;
    }
}